.login {
    background-image: url(../img/3.jpg);
    margin-bottom: 30px;
    padding: 50px;
    padding-bottom: 70px;
}

.reg-header h2 {
    color: #DDDDDD;
    z-index: 999999;
}

.login-body h4 {
    margin-bottom: 20px;
}

.error-msg {
    color: #810000;
}

.successfull-msg {
    color: green;
}

.reg-form {
    text-align: center;
    margin-bottom: 25px;
}

.arrow {
    color: #fff;
}

.googleBtn {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
    width: 100%
}

/* Google Button Tweaks */
.g_id_signin {
    white-space: nowrap !important;
    width: 30px !important;
    min-height: 10px;
    align-items: left;
    height: 50px !important;
    display: content-block;
    margin-left: 10px !important;
}

/* To stop giant logos from overriding styling */
.g_id_signin>div {
    transform: scale(1) !important;
    align-items: center;
    /* Center text vertically with the icon */
    margin-left: 10px;
}