.login{
    background-image: url(../img/3.jpg);
    margin-bottom: 30px;
    padding: 50px;
    padding-bottom: 70px;
}
.reg-header h2{
    color: #DDDDDD;
    z-index: 999999;
}
.login-body h4{
    margin-bottom: 20px;
}
.error-msg{
    color:#810000;    
}
.successfull-msg{
    color:green;
}
.reg-form{
    text-align: center; 
    margin-bottom: 25px;
}
.arrow{
    color:#fff;
}